* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    /* height: 100%;  */
    overflow: hidden;
    z-index: -1; 
    height: 100vh; 
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover; 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);

}

.content, .container {
    position: relative;
    z-index: 1; 
    color: white;
    text-align: center;
    z-index: 1; 
    color: white; 
    text-align: center; 
}

.container {
    position: relative; 
    z-index: 1;
    background: rgba(67, 60, 60, 0.5); 
    padding: 20px; 
    border-radius: 8px; 
    max-width: 400px; 
    margin: 50px auto; 
    box-shadow: 0 4px 10px rgba(227, 223, 223, 0.5); 
    color: white;
}

h1 {
    color: #e8dfdd; 
    text-align: center; 
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.btn {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f4e9e6;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ede6e5; 
    text-decoration: none; 
}
.pad{
    padding-top: 200px;
}